<head>
    <title>Cotiza tu seguro</title>
<style>
@media (max-width: 767px) {
    .column-1,
    .column-2 {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .column-1 {
        width: 50%;
    }
    .column-2 {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .column-2,
    .column-1 {
        width: 33%;
    }
}
</style>
</head>

<body>
   <!-- ESTO SERIA COMO UNA ESPECIE DE TARJETA GRANDE   -->


<!-- Grid row -->
<div class="row">
  <!-- Grid column -->
  <div class="column-2 px-2 mb-r">

    <!--Card-->
    <div class="card default-color-dark">

      <!--Card image-->
      <div class="view">
        <img src="https://www.brunoticias.com/wp-content/uploads/2019/05/700x400xseguro-de-autos_-graphixmania.jpg.pagespeed.ic_.wZvYPDJRfQ.jpg" class="card-img-top" alt="Seguro auto" height=110%>
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title white-text">Seguro Automotor</h4>
        <!--Text-->
        <p class="card-text white-text">¡Cotiza online! Hoy podes acceder a la mejor cobertura para tu auto.</p>
        <a href="cotizacionAuto" class="btn btn-outline-info btn-rounded waves-effect btn-md">Cotizá</a>
      </div>  
    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="column-1 px-2 mb-r">

    <!--Card-->
    <div class="card primary-color-dark">

      <!--Card image-->
      <div class="view">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFCTdoCDkc-JrvjFihj24e4ZoXonuO5kfcwdhqqiiizE1RdVv_" class="card-img-top" alt="SeguroPersonal" >
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title white-text">Seguro Personal</h4>
        <!--Text-->
        <p class="card-text white-text">Encontrarás el seguro ideal para toda tu familia</p>
        <a href="cotizacionPersonal" class="btn btn btn-outline-info btn-rounded waves-effect btn-md">Cotizá</a>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="column-1 px-2">

    <!--Card-->
    <div class="card warning-color-dark">

      <!--Card image-->
      <div class="view">
        <img src="http://giancoabundiz.com/wp-content/uploads/2017/04/Poliza_Casa-1.jpg" class="card-img-top" alt="SeguroHogar">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title white-text">Seguro Hogar</h4>
        <!--Text-->
        <p class="card-text white-text">Asegura tu hogar y disfrutá con tranquilidad cada día</p>
        <a href="cotizacionHogar" class="btn btn btn-outline-info btn-rounded waves-effect btn-md">Cotizá</a>
      </div>
      

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

</body>

</html>